@font-face {
    font-family: 'inter';
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

body {
    padding: 20px;
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.sitename {
    margin: 0;
    padding: 12px 0;
    display: inline-block;
    color: #3d3d3d;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
}

.red-text {
    color: #d20a2e;
}

nav {
    padding: 4px;
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    background: #e8e8e8;
    border-radius: 10px;
}

nav a {
    padding: 6px;
    display: inline-block;
}

nav img:hover {
    transform: scale(1.1);
}

.perspective-links {
    display: flex;
    background: #3d3d3d;
    border-radius: 7px;
}

.perspective-links a {
    padding: 10px;
}

#sci-link {
    background: #d20a2e;
    border-radius: 7px;
}

main {
    margin: 0 auto;
    width: 720px;
    display: block;
    border-radius: 7px;
}

.stickies-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.stickies-header {
    font-family: 'inter';
}

.stickies {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.stickie {
    aspect-ratio: 1 / 1;
    background: #808080;
}


.filters {
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 10px;
}

.tags {
    width: 100%;
}

.tag {
    margin-right: 10px;
    min-width: 60px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    background: #ffd6d6;
}

.filter-dropdowns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.filter-dropdowns>div {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    background: #e8e8e8;
}

.blog-posts {
    width: 100%;
}

.blog-post {
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 14px;
    background: #e8e8e8;
}

footer {
    margin: 0 auto;
    padding: 20px;
     display: none;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 200px;
    width: 720px;
    box-sizing: border-box;
    background: #3d3d3d;
    border-radius: 7px;
}

footer>div {
    background: #808080;
    border-radius: 7px;
}
