@font-face {
    font-family: 'inter';
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

body {
    padding: 20px;
    height: 100%;
    font-family: 'inter';
    color: #3d3d3d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.sitename {
    margin: 0;
    padding: 12px 0;
    display: inline-block;
    color: #3d3d3d;
    font-size: 19px;
    font-weight: 800;
    font-family: sans-serif;
    text-decoration: none;
}

.red-text {
    color: #d20a2e;
}

nav {
    padding: 4px;
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    background: #e8e8e8;
    border-radius: 10px;
}

nav a {
    padding: 6px;
    display: inline-block;
}

nav img:hover {
    transform: scale(1.1);
}

.perspective-links {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    width: fit-content;
    background: #3d3d3d;
    box-sizing: border-box;
    border-radius: 7px;
    line-height: 0; /* Prevents extra gap below inline elements */
}

.perspective-links img {
    margin: 0;
    padding: 10px; /* Remove unnecessary padding */
    border-radius: 7px;
}


.perspective-links a {
    margin: 0;
    height: fit-content;
}

#sci-link {
    background: #d20a2e;
    border-radius: 7px;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 720px;
    display: block;
    border-radius: 7px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero>div {
    margin-bottom: 40px;
    height: 500px;
    width: 48%;
    /* background: #e8e8e8; */
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3d3d3d;
}

.hero-left {
}

.hero-right {
    padding: 50px;
    align-items: center;
}

.hero-left>p {
    font-size: 18px;
}

.highlights {
    margin-bottom: 40px;
    width: 100%;
    border-radius: 7px;
}

.highlights>div {
    margin-bottom: 40px;
    padding: 0;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 30px;
    box-sizing: border-box;
}

.highlights>div>div {
    border-radius: 7px;
}

.highlights > div > div:nth-child(1) {
    width: 150px;
}

.highlights > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.highlights > div > div:nth-child(2) > div {
    background: #e8e8e8;
    border-radius: 7px;
}

.highlights > div > div:nth-child(3) {
    width: 150px;
    justify-self: end;
    background: #d20a2e;
}
.more-btn {
    color: #fff;
    text-align: center;
}

.timeline {
    margin-bottom: 60px;
}

.timeline-cards {
    margin-bottom: 40px;
    padding: 40px;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    box-sizing: border-box;
    border-radius: 7px;
}

.timeline-cards>div {
    width: 45%;
    background: #e8e8e8;
    border-radius: 7px;
}

.timeline-cards > div:nth-child(even) {
    justify-self: end;
}

.visit-btn {
    width: 150px;
    height: 68px;
    color: #fff;
    text-align: center;
    justify-self: end;
    background: #d20a2e;
    border-radius: 7px;
}

.reviews {
    margin-bottom: 40px;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 20px;
}

.review-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.review {
    background: #e8e8e8;
    border-radius: 7px;
}

.new-review {
    padding: 20px;
    border-radius: 7px;
}

.enter-review {
    margin: 0 auto;
    height: 100%;
    width: 500px;
    background: #e8e8e8;
    border-radius: 10px;
}

.contact {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact>div {
    background: #e8e8e8;
    border-radius: 7px;
}

footer {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 200px;
    width: 720px;
    box-sizing: border-box;
    background: #3d3d3d;
    border-radius: 7px;
}

footer>div {
    background: #808080;
    border-radius: 7px;
}

@media (max-width: 900px) {
    main {
        width: 650px;
    }

    footer {
        width: 650px;
    }
  }

  @media (max-width: 720px) {
    .navbar {
        display: grid;
        grid-template-areas: 'sitename sitename sitename perspective'
                             'navlinks navlinks navlinks navlinks';
        gap: 5px;
    }
    .sitename {
        grid-area: sitename;
    }

    nav {
        min-width: 300px;
        grid-area: navlinks;
    }
    
    nav img {
        height: 28px;
    }

    .perspective-links {
        justify-self: end;
        align-self: center;
    }

    .perspective-links img {
        height: 20px;
    }
    
    main {
        width: 550px;
    }

    footer {
        width: 550px;
    }
  }