body {
    padding: 20px;
    height: 100%;
    font-family: 'inter';
    color: #3d3d3d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.sitename {
    margin: 0;
    padding: 12px 0;
    display: inline-block;
    color: #3d3d3d;
    font-size: 19px;
    font-weight: 800;
    font-family: sans-serif;
    text-decoration: none;
}

.red-text {
    color: #d20a2e;
}

nav {
    padding: 4px;
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    background: #e8e8e8;
    border-radius: 10px;
}

nav a {
    padding: 6px;
    display: inline-block;
}

nav img:hover {
    transform: scale(1.1);
}

.perspective-links {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    width: fit-content;
    background: #3d3d3d;
    box-sizing: border-box;
    border-radius: 7px;
    line-height: 0; /* Prevents extra gap below inline elements */
}

.perspective-links img {
    margin: 0;
    padding: 10px; /* Remove unnecessary padding */
    border-radius: 7px;
}


.perspective-links a {
    margin: 0;
    height: fit-content;
}

#sci-link {
    background: #d20a2e;
    border-radius: 7px;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 720px;
    display: block;
    border-radius: 7px;
}

.filters {
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 10px;
}

.tags {
    width: 100%;
}

.tag {
    margin-right: 10px;
    min-width: 60px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    background: #ffd6d6;
}

.filter-dropdowns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.filter-dropdowns>div {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    background: #e8e8e8;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #e8e8e8;
}

.timeline-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.entry-title {
    margin-left: 50px;
    width: 150px;
    height: 30px;
    background: #e8e8e8;
    border-radius: 15px;
}

.entry-title::before {
    position: absolute;
    left: 0;
    content: '';
    width: 40px;
    height: 4px;
    margin-top: 13px;
    background: #e8e8e8;
}

.entry {
    width: 80%;
    align-self: center;
    aspect-ratio: 4 / 1;
    background: #e8e8e8;
    border-radius: 7px;
    margin-bottom: 20px;
}

footer { display: none; }